body {
  background-color: #4e54c8;
}

nav {
  background: #4e54c8;

}

.jumbotron {
  padding-top: 6rem;
  height:600px;
}

/* #projects {
  background-color: #e2edff;
} */

section {
  padding-top: 5rem;
}

.card:hover {
  transform: scale(1.01);
  transition-delay:0.2s;
  z-index: 1000000 !important;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.sosial:hover {
  transform: scale(1.2);
  transition-delay:0.1s;
  z-index: 1000000 !important;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.card-text {
  color: black;
}

input { 
  background-color: rgb(223, 218, 213) !important;
}

textarea { 
  background-color: rgb(223, 218, 213) !important;
}

@media screen and (max-width: 400px) {
  #brand-name {
    display: none !important;
  }
}
